@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(28, 28, 28);
}

:root{
  --navbar-color: #f8f9fa;
  --primary-color: #1565C0;
  --secondary-color: #a3cbec;
  --tertiary-color: rgba(204, 207, 207, 0.29);
}


*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

.section-margin{
  margin: 1rem;
}
