.item-details-wrapper{
    margin-top: 4rem;
}

.button-wrapper{
    display: flex;
    justify-content: space-between;
}

.items-list{
    border-radius: 0.5rem;
    max-height: calc(100vh - 9.4rem);
    overflow-y: scroll;
}